.field
{
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: yellow;
    padding: 30px;;
}

.box
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    outline: 2px solid yellow;
    /* transition: all .5s; */
}
.noneBox
{
   background-color: yellow;
}


.box:hover
{
    cursor: pointer;
    background-color: rgb(117, 117, 0);
}
.noneBox:hover
{
    cursor: default;
    background-color:yellow;
}